<div class="label-title text-welcome">
    Hola, bienvenido, sabemos que quieres viajar en un <strong>{{ title }}</strong>, por favor diligencia el siguiente formulario:
</div>
<div class="form-container">
    <div class="form-item">
        <label class="label-title">Nombre Completo</label>
        <div class="form-div-input">
            <input [(ngModel)]="name" type="text" required>
        </div>
    </div>
    <div class="form-item">
        <label class="label-title">Email</label>
        <div class="form-div-input">
            <input [(ngModel)]="email" type="email" required>
        </div>
    </div>
    <div class="form-item">
        <label class="label-title">Celular</label>
        <div class="form-div-input">
            <input [(ngModel)]="cellphone_number" type="number" required>
        </div>
    </div>
    <div class="form-item">
        <label class="label-title">Edad (De 18 a 100 años)</label>
        <div class="form-div-input">
            <input [(ngModel)]="age" type="number" required>
        </div>
    </div>
    <div>
        <label>&nbsp;</label>
        <div>
            <button type="submit" (click)="storeForm()">
                 Enviar Datos
                </button>
        </div>
    </div>
</div>